h1{
    text-align: center;
    font-size: 80px;
    color: #D44F4F;
    font-family: 'Berkshire Swash', cursive;
}
.full {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}